<ion-header>
<!--   <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar> -->
</ion-header>

<ion-content text-center class="vertical-align-content">
<ion-grid>
        <ion-row>
              <ion-col>
    <div [ngSwitch]="authType">
      <form *ngSwitchCase="'login'" #loginCreds="ngForm" (ngSubmit)="login(loginCreds.value)" center text-center class="form-margins">
        <ion-item>
          <ion-icon name="mail-outline" item-left></ion-icon>
          <ion-input type="text" placeholder="Username"  required [(ngModel)]="loginCreds.username" name="username" ngControl="username"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-icon name="lock-outline" item-left></ion-icon>
          <ion-input type="password" placeholder="Password" required [(ngModel)]="loginCreds.password" name="password" ngControl="password"></ion-input>
        </ion-item>
        
        <div>
          <!-- <button block type="submit">Login</button>        -->
          <button ion-button color="primary" class="button" type="submit" round>Login</button> 
        </div>
        
      </form>

    </div>
    </ion-col>
        </ion-row>
    <ion-row>
    <ion-col>
    <div>
      <p *ngIf="error" class="error">{{ error._body }}</p>  
    </div>
    <div center text-center>
      <p>Don't have an account ?</p>
       <p color="danger" (click)="switchToSignupPage()">
          Sign Up
        </p>
        <!-- <button i on-button color="primary" (click)='switchToSignupPage();'>Signup</button> -->
    </div>
    </ion-col>
    </ion-row>
    </ion-grid>
</ion-content>

<!-- <ion-content padding *ngIf="auth.authenticated()">
  
  <div>
    <div padding>
      <h1>Welcome, {{ user }}</h1>
      <button block (click)="logout()">Logout</button>
    </div>  
  </div>
  <div padding>
      <p *ngIf="error" class="error">{{ error._body }}</p>  
    </div>
</ion-content> -->
