<ion-header>
  <ion-navbar>
    <ion-title>Passcode</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div>
      <form [formGroup]="passcodeForm" (ngSubmit)="verify()">
        <ion-item>
          <ion-label>passcode</ion-label>
          <ion-input type="text" formControlName="passcode"></ion-input>
        </ion-item>
        
        <div padding>
          <!-- <button block type="submit">Login</button>        -->
          <button ion-button color="primary" type="submit" [disabled]="!passcodeForm.valid" >Verify</button> 
        </div>
        
      </form>
      <p (click)="resendPasscode()">
        Resend passcode
      </p>
    </div>
    
    <div padding>
      <p *ngIf="error" class="error">{{ error._body }}</p>  
    </div>
</ion-content>
