<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title *ngIf="category">{{ category.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="category" center text-center>
  <div class="list-items">
    <div class="item-menu" *ngFor="let item of category.items" (click)="viewItem(item.id)">

      <img class="imagesize" src="{{ item.image }}" alt="{{ item.name }}"/>

      <div class="overlay">

        <span class="pull-left" color="light">
          {{ item.name }}
        </span>

        <span class="pull-right" color="light">
          ${{ item.price }}
        </span>
      </div>
    </div>
  </div>

</ion-content>
