<ion-header>
  <ion-navbar>
    <ion-title>Admin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list>
    <ion-item *ngFor="let option of options">
      <h2>{{option.name}}</h2>
    </ion-item>
  </ion-list> -->


  <ion-list>

    <button ion-item *ngFor="let option of options" (click)="itemTapped($event, option)">
    {{option.name}}
    <ion-icon name="arrow-forward" color="grey" item-right></ion-icon>
  </button>

  <!--   <button ion-button color="primary" *ngFor="let option of options" (click)="itemTapped($event, option)">
      <div>
      {{option.name}}
      </div>
    </button> -->
  </ion-list>


</ion-content>
