<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Scanner" tabIcon="qr-scanner"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Contact" tabIcon="contacts"></ion-tab>
  <ion-tab *ngIf="owner" [root]="tab4Root" tabTitle="Admin" tabIcon="cog"></ion-tab>

</ion-tabs>
