<!--
  Generated template for the ProfilePage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="item">{{ item.name }}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content *ngIf="item">

  <!-- Item cover -->
  <div class="cover">
    <ion-slides pager>
      <ion-slide>
        <img style="imagesize" src="{{ item.image }}" alt=""/>
      </ion-slide>
      <!-- <ion-slide *ngFor="let img of item.images">
        <img class="full-image imagesize" src="{{ img }}" alt=""/>
      </ion-slide> -->
    </ion-slides>

    <div class="overlay">
      <span class="pull-left" color="light">
        {{ item.description }}
      </span>

      <span class="pull-right price" color="light">
        ${{ item.price }}
      </span>
    </div>
  </div>

  <!-- Buttons -->
  <ion-grid no-padding>
    <ion-row class="item-button-group" no-padding>
      <ion-col no-padding>
        <button ion-button block (click)="toggleFav(item)" color="gray">
          <ion-icon class="text-2x" name="ios-star" [hidden]="!favourite"></ion-icon>
          <ion-icon class="text-2x" name="ios-star-outline" [hidden]="favourite"></ion-icon>
          <span class="text-sm">ADD TO FAVORITE</span>
        </button>
      </ion-col>
      <ion-col no-padding>
        <button ion-button block (click)="addCart()">
          <ion-icon class="text-2x" name="ios-cart-outline"></ion-icon>
          <span class="text-sm">ADD TO CART</span>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngFor="let option of item.options">
    <ion-list *ngIf="!option.required" class="list-full-border" no-margin>
      <ion-item-divider>{{ option.name }}</ion-item-divider>
      <ion-item *ngFor="let itemoption of option.itemoptions">
        <ion-label>{{ itemoption.value }}: ${{ itemoption.price }}</ion-label>
        <ion-checkbox color="primary" item-right></ion-checkbox>
      </ion-item>

<!-- 
      <ion-item-divider>Extras</ion-item-divider>
      <ion-item *ngFor="let extra of item.extras">
        <ion-label>{{ extra.name }}: ${{ extra.price }}</ion-label>
        <ion-checkbox color="primary"></ion-checkbox>
      </ion-item> -->
    </ion-list>

    <ion-list *ngIf="option.required" class="list-full-border" no-margin radio-group>
      <ion-item-divider>{{ option.name }}</ion-item-divider>
      <ion-item *ngFor="let itemoption of option.itemoptions">
        <ion-label>{{ itemoption.value }}: ${{ itemoption.price }}</ion-label>
        <ion-radio></ion-radio>
      </ion-item>
    </ion-list>

  </div>
    <div>
      <ion-item-divider>Special Instructions</ion-item-divider>
      <ion-textarea rows="3" placeholder="    Enter any special instructions..." [(ngModel)]="msg"></ion-textarea>
    </div>


</ion-content>
