<ion-tabs>
  <ion-tab [root]="tab1Root" tabIcon="apps" [rootParams]="restaurant_id"></ion-tab>
  <ion-tab [root]="tab2Root" tabIcon="close"></ion-tab>
  <ion-tab [root]="tab3Root" tabIcon="settings"></ion-tab>
  <!-- settings should be changed to profile later -->
</ion-tabs>
