<ion-header>
  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <div>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
        
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="password" formControlName="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Confirm Password</ion-label>
          <ion-input type="password" formControlName="passwordConfirm"></ion-input>
        </ion-item>

        <ion-item *ngIf="!signupForm.controls.passwordConfirm.valid && signupForm.controls.passwordConfirm.dirty">
            <p>password mismatch.</p>
        </ion-item>

        <ion-item>
          <ion-label>Email</ion-label>
          <ion-input type="email" formControlName="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Date of Birth</ion-label>
          <ion-datetime displayFormat="DD/MMM/YYYY"  formControlName="dateOfBirth"></ion-datetime>
        </ion-item>

        <ion-list radio-group formControlName="gender">
        <ion-list-header>
          Gender
        </ion-list-header>
          <ion-item>
            <ion-label>Male</ion-label>
            <ion-radio value="M" checked></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Female</ion-label>
            <ion-radio value="F"></ion-radio>
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-label>Phone Number</ion-label>
          <ion-input type="tel" formControlName="phoneNumber"></ion-input>
        </ion-item>
        <ion-item *ngIf="!signupForm.controls.phoneNumber.valid && signupForm.controls.phoneNumber.dirty">
            <p>Invalid phone number. Phone Number must start with + sign then country code with no spaces or dashes.</p>
        </ion-item>

        
        <div padding>
          <button ion-button color="primary" type="submit" [disabled]="!signupForm.valid" >Signup</button> 
        </div>
      </form>
    </div>
    
    <div padding>
      <p *ngIf="error" class="error">{{ error._body }}</p>  
    </div>
</ion-content>
<!-- 
<ion-content padding *ngIf="auth.authenticated()">
  
  <div>
    <div padding>
      <h1>Welcome, {{ user }}</h1>
      <button block (click)="logout()">Logout</button>
    </div>  
  </div>
  <div padding>
      <p *ngIf="error" class="error">{{ error._body }}</p>  
    </div>
</ion-content> -->
