<ion-header>
  <ion-navbar>
    <ion-title>Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content *ngIf="data" center text-center>
  <!--slider-->
  <ion-slides pager>
    <ion-slide>
      <img class="full-image" src="{{ data.image }}" alt=""/>
    </ion-slide>
  </ion-slides>

  <!--list of categories-->
  <h3 text-center> {{ data.restaurant_name }} </h3>
  <p text-center> welcome blah blah blah </p>

  <div class="list-items">
    <div class="item-menu" *ngFor="let category of data.categories" (click)="viewCategory(category.id)">

      <img class="imagesize" src="{{ category.image }}" alt="{{ category.name }}"/>

      <div class="overlay">

        <span class="pull-left" color="light">
          {{ category.name }}
        </span>
      </div>
    </div>
  </div>
</ion-content>
