<!--
  Generated template for the Seats page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Seats</ion-title>
    <ion-buttons end>
        <button ion-button icon-only (click)="addItem()"><ion-icon name="add"></ion-icon></button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
<ion-list>
 
  <ion-item-sliding *ngFor="let item of items">
 
    <ion-item>
    Seat#: {{item.number}}
    </ion-item>
 
    <ion-item-options>
      <button ion-button icon-only (click)="removeItem(item)" color="danger">
                    <ion-icon name="trash"></ion-icon>
                </button>
    </ion-item-options>
  </ion-item-sliding>
 
  </ion-list>


</ion-content>
